*div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    font-size: smaller;
    text-align: center;
    text-align: justify;

}
    
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  

.funcionesdetrabajo
{
    font-family: 'Quicksand', sans-serif;
    
  }



.galeriadeimagenes{
    font-family: 'Fira Sans', sans-serif;
    text-align: center;

}

ul{
    text-align: center;
    text-align: justify
}

.formatoletras{ 
    text-align: center;
    font-weight: bold;

}



.empresa{
    font-family: 'Mukta', sans-serif
}